In [2]:
print("hello all good evening")

hello all good evening

we will wait for 3min for others to join

## understanding the variables

In [ ]:
variable:------

In [ ]:
It is going to store values



####variable_name=value-------->syntax

In [3]:
a=5      ###shortcut key to execute shift+enter

In [4]:
print(a)

5

In [5]:
b=7

In [6]:
print(b)

7

In [7]:
id(a)

140709358641680

In [8]:
id(b)

140709358641744

In [10]:
a=5

In [11]:
print(a)

5

In [12]:
b=5

In [14]:
print(b)

5

In [15]:
id(a)

140709358641680

In [16]:
id(b)

140709358641680

In [17]:
a+b

10

In [18]:
a-b

0

In [19]:
a*b

25

In [20]:
a=55

In [21]:
b=66

In [22]:
a+b

121

In [23]:
a=6

In [24]:
type(a)

int

In [25]:
b='sam'

In [26]:
type(b)

str

In [28]:
c=3.3

In [29]:
type(c)

float

In [ ]:
### they are 3 rules to declare variables

In [ ]:
1.No Gap/spaces in between variable names

In [30]:
full name = 'vinay kumar'     ####wrong way

SyntaxError: invalid syntax (<ipython-input-30-66ddbf2a3ce4>, line 1)

In [31]:
full_name='vinay kumar'

In [32]:
print(full_name)

vinay kumar

In [ ]:
2.Variable name doesnt start with any number

In [33]:
1name='balaji'    ### wrong way

SyntaxError: invalid syntax (<ipython-input-33-92593d1ae08c>, line 1)

In [37]:
name1='balaji'    ### correct way   ##vaild syntax

In [39]:
name1='lavanya'

In [41]:
print(name1)

lavanya

In [ ]:
3.No special characters should be used in the beggining except underscore

In [42]:
$name='sam'

SyntaxError: invalid syntax (<ipython-input-42-f35491051afd>, line 1)

In [ ]:
#### Introduction data types in python
-------------------------------------------

In [ ]:
Strings--------->str1.
2.List------------>list
3.tuple------------>tuple
4.dictionary--------->dict
5.sets--------------->set

In [ ]:
String
---------->It is series of characters/// group of characters

In [ ]:
#### how to declare strings in python

In [ ]:
'',"",''''''


'python'
"python"
'''python'''

In [ ]:
properties of strings
-------------------------

In [ ]:
string is immutable data    ------->it doest change after declaring the values

In [45]:
a='sairam'

In [46]:
print(a)

sai

In [47]:
x='python'

In [48]:
print(x)

python

In [49]:
name1='siva'
name2="hari"
name3='''sai'''

In [50]:
print(name1,name2,name3)

siva hari sai

In [ ]:
####print the statement welcome to the session

In [51]:
print('welcom to the session')

welcom to the session

In [ ]:
####req ------>this is sam's notebook

In [52]:
print('this is sam's notebook')

SyntaxError: invalid syntax (<ipython-input-52-08f8973c0ce4>, line 1)

In [53]:
print("this is sam's notebook")

this is sam's notebook

In [ ]:
###1.single value comment
2.multi value comment

In [ ]:
###add two numbers
###take varibles a,b
##add a+b

In [ ]:
####req this is "my country"

In [54]:
print('''this is "my country"''')

this is "my country"

In [ ]:
1.title()
2.upper()
3.lower()

In [56]:
name='durga srikanth'

In [57]:
print(name)

durga srikanth

In [58]:
print(name.title())------->syntax

Durga Srikanth

In [59]:
print(name.upper())--------->upper method

DURGA SRIKANTH

In [60]:
print(name.lower())---------->lower method

durga srikanth